@model MemeHub.Models.ViewModels.Memes.MemeDetailsViewModel

@{
    ViewBag.Title = "Memehub";
    Layout = "../Shared/_Layout.cshtml";
}
<div>
    <div class="row">
        <div class="col-sm-12">
            <div id="article-container" meme-id="@Model.Id" class="col-md-6 col-md-offset-3">
                <article>
                    <header>
                        <h3>
                            <strong>
                                @Html.ActionLink(Model.Caption, "Details", "Memes", new { id = Model.Id }, null)
                            </strong>
                        </h3>
                    </header>
                    <p class="text-muted">
                        <span id="meme-points">@Model.MemePoints</span> Points @Model.Comments.Count() Comments
                    </p>
                    <a id="btn-love" href="#" title="Love it" class="btn" data-count="0" style="font-size: 1.7em"><span>&#x2764;</span></a>
                    <img src="@Model.MemeImageUrl" alt="@Model.Caption" width="555" />
                    <hr />

                    @Html.Partial("_CreateCommentPartial")

                    @if (Model.Comments.Any())
                    {
                        @Html.Partial("_DisplayCommentPartial")
                    }
                </article>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/love-meme.js")
}