@model MemeHub.Models.ViewModels.Users.UserProfileViewModel
@{
    ViewBag.Title = "Profile";
}

<div class="jumbotron">
    <div class="container">
        <h1>My Profile!</h1>
        <p class="text-muted">Look at you, you hilarious bastard!</p>
        <img src="@Model.ProiflePictureUrl" class="img-thumbnail" alt="profilePicture" width="200" />
        <br />
        <p class="lead">@Html.DisplayFor(uvm => uvm.Username)</p>
        @Html.ActionLink("Edit Profile", "Edit", "Users", null, new { @class = "btn btn-lg btn-primary" })
    </div>
</div>

@if (Model.Memes.Any())
{
    <div class="row">
        <div class="col-md-3 col-md-offset-5 ">
            <h1>Your fun memes</h1>
            <br />
            <br />
        </div>
        <div class="col-md-6 col-md-offset-3">

            @foreach (var meme in Model.Memes)
            {
                <br />
                <article>
                    <header>
                        <h2>
                            @Html.DisplayFor(m => meme.Caption)
                        </h2>
                    </header>

                    <img src="@meme.MemeImageUrl" alt="@meme.Caption" />
                </article>
                @Html.ActionLink("Edit", "Edit", "Memes", null, new { @class = "btn btn-sm btn-outline-warning" })
                @Html.ActionLink("Delete", "Delete", "Memes", null, new { @class = "btn btn-sm btn-outline-danger" })
                <br />
                <hr />
            }

        </div>
    </div>
}
else
{
    <br />
    <br />
    <div class="row">
        <div class="col-md-3 col-md-offset-5 ">
            <h3 class="text-muted">No posts to show</h3>
        </div>
    </div>
}
